/** login window begin **/
.login_body {
	background:url("../images/login/bg.jpg") repeat-x scroll left top #244E88;
	font-family:"宋体";
	font-size:12px;
	color:#222222;
	margin:0;
}
#login_wrapper{
	margin: 0 auto;
	text-align:center;
	background:url("../images/login/main.jpg") no-repeat scroll center top;
	height:600px;
}
#login_header{
	height:195px;	
}
#login_container{
	height:200px;
}
#login_footer{
	font-family:"Times New Roman", Times, serif
}
.login_content{
	margin-top:18px;
}
.login_content li{
	line-height:35px;
	height:35px;
}
.login_title{
	font-size:20px;
	font-weight:bold;
	color:#fff;
	text-align:center;	
}
.login_input{
	height:22px;
	width: 180px;
	font-size : 12px;
	line-height:20px;
	border:1px solid #dcdcdc;
}
.login_button{
	height:22px;
	background-image:url(../images/login/button_bg.jpg);
	border:1px solid #26538C;
	padding:0 10px 0 10px;
	color:#fff;
}
/** login window end **/

/** toolbar's icon button begin **/
.add-icon {
	background-image:url(../images/action/add.png) !important;
}
.edit-icon {
    background-image:url(../images/action/edit.png) !important;
}
.remove-icon {
	background-image:url(../images/action/delete.png) !important;
}
.save-icon{
	background-image:url(../images/action/save.png) !important;
}
.cancel-icon{
	background-image:url(../images/action/cancel.png) !important;
}
/** toolbar's icon button end **/

.edit_table{
	width:100%;
	padding : 3px
	margin : 4px;
	border:1px;
}
.field{
	background:#ef3cef;
	color:#00ff00;
}

/**forms**/
fieldset {
	border:0 none;
	border-top:1px solid #ddd;
	margin:10px 0;
	padding:10px 0;
	position:relative;
}
legend {
	background:#fff;
	color:#93BB3A;
	font-weight:bold;
	padding:0 6px 0 0;
}
label {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
}

label.require_field:before {
	content:"*";
	color:red;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
input[type="text"],input[type="password"],input[type="select"],input[type="search"],input[type="file"],textarea,select {
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style:solid;
	border-width:1px;
	padding:4px;
	color:#777;
}

input.half,select.half,textarea.half {
	width:50%;
}
.edit_form{
	margin : 8px;
	padding : 2px;
}

