<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        
        <title>ziceinclude&trade; admin version 1.1 online</title>

        <!-- Link shortcut icon-->
        <link rel="shortcut icon" type="image/ico" href="images/favicon2.ico"/> 

        <!-- Link css-->
        <link rel="stylesheet" type="text/css" href="css/zice.style.css"/>
        <link rel="stylesheet" type="text/css" href="css/icon.css"/>
        <link rel="stylesheet" type="text/css" href="css/ui-custom.css"/>
        <link rel="stylesheet" type="text/css" href="css/timepicker.css"/>
        <link rel="stylesheet" type="text/css" href="components/colorpicker/css/colorpicker.css"/>
        <link rel="stylesheet" type="text/css" href="components/elfinder/css/elfinder.css"/>
        <link rel="stylesheet" type="text/css" href="components/datatables/dataTables.css"/>
        <link rel="stylesheet" type="text/css" href="components/validationEngine/validationEngine.jquery.css"/>     
        <link rel="stylesheet" type="text/css" href="components/jscrollpane/jscrollpane.css"/>
        <link rel="stylesheet" type="text/css" href="components/fancybox/jquery.fancybox.css"/>
        <link rel="stylesheet" type="text/css" href="components/tipsy/tipsy.css"/>
        <link rel="stylesheet" type="text/css" href="components/editor/jquery.cleditor.css"/>
        <link rel="stylesheet" type="text/css" href="components/chosen/chosen.css"/>
        <link rel="stylesheet" type="text/css" href="components/confirm/jquery.confirm.css"/>
        <link rel="stylesheet" type="text/css" href="components/sourcerer/sourcerer.css"/>
        <link rel="stylesheet" type="text/css" href="components/fullcalendar/fullcalendar.css"/>
        <link rel="stylesheet" type="text/css" href="components/Jcrop/jquery.Jcrop.css"/>   
		
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="components/flot/excanvas.min.js"></script><![endif]-->  
		
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="components/ui/jquery.ui.min.js"></script> 
        <script type="text/javascript" src="components/ui/jquery.autotab.js"></script>
        <script type="text/javascript" src="components/ui/timepicker.js"></script>
        <script type="text/javascript" src="components/colorpicker/js/colorpicker.js"></script>
        <script type="text/javascript" src="components/checkboxes/iphone.check.js"></script>
        <script type="text/javascript" src="components/elfinder/js/elfinder.full.js"></script>
        <script type="text/javascript" src="components/datatables/dataTables.min.js"></script>
        <script type="text/javascript" src="components/datatables/ColVis.js"></script>
        <script type="text/javascript" src="components/scrolltop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="components/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="components/jscrollpane/mousewheel.js"></script>
        <script type="text/javascript" src="components/jscrollpane/mwheelIntent.js"></script>
        <script type="text/javascript" src="components/jscrollpane/jscrollpane.min.js"></script>
        <script type="text/javascript" src="components/spinner/ui.spinner.js"></script>
        <script type="text/javascript" src="components/tipsy/jquery.tipsy.js"></script>
        <script type="text/javascript" src="components/editor/jquery.cleditor.js"></script>
        <script type="text/javascript" src="components/chosen/chosen.js"></script>
        <script type="text/javascript" src="components/confirm/jquery.confirm.js"></script>
        <script type="text/javascript" src="components/validationEngine/jquery.validationEngine.js"></script>
        <script type="text/javascript" src="components/validationEngine/jquery.validationEngine-en.js"></script>
        <script type="text/javascript" src="components/vticker/jquery.vticker-min.js"></script>
        <script type="text/javascript" src="components/sourcerer/sourcerer.js"></script>
        <script type="text/javascript" src="components/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="components/flot/flot.js"></script>
        <script type="text/javascript" src="components/flot/flot.pie.min.js"></script>
        <script type="text/javascript" src="components/flot/flot.resize.min.js"></script>
        <script type="text/javascript" src="components/flot/graphtable.js"></script>
        <script type="text/javascript" src="components/uploadify/swfobject.js"></script>
        <script type="text/javascript" src="components/uploadify/uploadify.js"></script>        
        <script type="text/javascript" src="components/checkboxes/customInput.jquery.js"></script>
        <script type="text/javascript" src="components/effect/jquery-jrumble.js"></script>
        <script type="text/javascript" src="components/filestyle/jquery.filestyle.js"></script>
        <script type="text/javascript" src="components/placeholder/jquery.placeholder.js"></script>
		<script type="text/javascript" src="components/Jcrop/jquery.Jcrop.js"></script>
        <script type="text/javascript" src="components/imgTransform/jquery.transform.js"></script>
        <script type="text/javascript" src="components/webcam/webcam.js"></script>
		<script type="text/javascript" src="components/rating_star/rating_star.js"></script>
		<script type="text/javascript" src="components/dualListBox/dualListBox.js"></script>
		<script type="text/javascript" src="components/smartWizard/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="js/jquery.cookie.js"></script>
        <script type="text/javascript" src="js/zice.custom.js"></script>    
		<script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29497072-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>    
   
           
        </head>        
        <body class="dashborad">        
        <div id="alertMessage" class="error"></div>
		<!-- Header -->
        <div id="header">
                <div id="account_info"> 
                    <img src="images/avatar.png" alt="Online" class="avatar"/>
					<div class="setting" title="Profile Setting"><b>Welcome,</b> <b class="red">John Doe</b><img src="images/gear.png" class="gear"  alt="Profile Setting" ></div>
					<div class="logout" title="Disconnect"><b >Logout</b> <img src="images/connect.png" name="connect" class="disconnect" alt="disconnect" ></div> 
                </div>
            </div><!-- End Header -->
			<div id="shadowhead"></div>

              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                      <li class="limenu" ><a href="dashboard.html"><span class="ico gray shadow home" ></span><b>Dashboard</b></a></li>
                      <li class="limenu" ><a href="#" ><span class="ico gray shadow window"></span><b>Form elements</b></a>
                        <ul>
                          <li ><a href="form.html"> basic form </a></li>
                          <li ><a href="vform.html"> validation </a></li>
                          <li ><a href="wizard.html"> wizard </a></li>
                        </ul>
                      </li>
                      <li class="limenu" ><a href="#"><span class="ico gray  dimensions" ></span><b>Sample pages</b></a>
                        <ul>
                          <li ><a href="profile.html"> Profile setting </a></li>
                          <li ><a href="conversation.html"> conversation</a></li>
                          <li ><a href="imagesEditor.html"> Images Editor </a></li>
                          <li ><a href="grid.html"> Grid System </a></li>
                        </ul>
                      </li>
                      <li class="limenu" ><a href="table.html"><span class="ico gray shadow  spreadsheet"></span><b>Tables</b> </a></li>
                      <li class="limenu select" ><a href="gallery.html"><span class="ico gray shadow pictures_folder"></span><b>Gallery </b></a></li>
                      <li class="limenu" ><a href="#"><span class="ico gray shadow stats_lines"></span><b>Graph and Charts</b> </a>
                        <ul>
                          <li><a href="modalchartLive.html" class="pop_box">live chart </a></li>
                          <li><a href="chart.html">all chart</a></li>
                        </ul>
                      </li>
                      <li class="limenu" ><a href="filemanager.html"><span class="ico gray shadow  file"></span><b>File manager </b></a></li>
                      <li class="limenu" ><a href="calendar.html"><span class="ico gray shadow calendar"></span><b>Calendar </b></a></li>
                      <li class="limenu" ><a href="typography.html"><span class="ico gray  shadow paragraph_align_left"></span><b>Typography</b></a></li>
                      <li class="limenu" ><a href="inelement.html"><span class="ico gray shadow abacus"></span><b>Interface elements </b></a></li>
                      <li class="limenu" ><a href="map.html"><span class="ico gray shadow  location"></span><b>Map location </b></a></li>
                      <li class="limenu" ><a href="icon.html"><span class="ico gray  shadow satellite"></span><b>Icon and Button </b></a></li>
					  <li class="limenu" ><a href="404.html"><span class="ico gray  shadow firewall"></span><b>Error Pages</b></a></li>

                        
                    </ul>
              </div>

            
            <div id="content">
                <div class="inner">
					<div class="topcolumn">
						<div class="logo"></div>
                            <ul  id="shortcut">
                                <li> <a href="#" title="Back To home"> <img src="images/icon/shortcut/home.png" alt="home"/><strong>Home</strong> </a> </li>
                                <li> <a href="#" title="Website Graph"> <img src="images/icon/shortcut/graph.png" alt="graph"/><strong>Graph</strong> </a> </li>
                                <li> <a href="#" title="Setting" > <img src="images/icon/shortcut/setting.png" alt="setting" /><strong>Setting</strong></a> </li> 
                                <li> <a href="#" title="Messages"> <img src="images/icon/shortcut/mail.png" alt="messages" /><strong>Message</strong></a><div class="notification" >10</div></li>
                            </ul>
					</div>
                    <div class="clear"></div>           


                    <!-- full width -->
                    <div class="widget" >
                        <div class="header"><span ><span class="ico gray pictures_folder"></span>GALLERY </span>
                        <div id="buttom_top">
                            <ul class="uibutton-group">
                                <li><a class="uibutton icon add pop_box"   href="modalalbum.html"  >New Album</a></li>
                                <li><div id="uploadButtondisable"></div><a  class="uibutton disable icon secure pop_box"   id="uploadAlbum">upload Pic to Album</a>
                                </li>
                            </ul>
                        </div>
                        
                        </div><!-- End header -->	
                        <div class="content"  style="padding:auto 0;">

                                  <div id="albumsList" >
                                  
                                         <div class="album load">
                                              <div class="preview">
                                                   <img width="130" id="photo1" class="stackphotos" src="exampic/23.jpg" alt="Thumbnail" />
                                                   <img width="130" id="photo2" class="stackphotos" src="exampic/27.jpg" alt="Thumbnail" />
                                                   <img width="130" id="photo3" class="stackphotos" src="exampic/25.jpg" alt="Thumbnail" />
                                              <div class="clear"></div>
                                              </div>
                                              <div class="title">02/20/2012</div>
                                              <div class="stats">Images: <span class="picCount">15</span></div>
                                              <div class="clear"></div>
                                         </div>
                                         
                                         <div class="album load">
                                              <div class="preview">
                                                   <img width="130" id="photo1" class="stackphotos" src="exampic/06.jpg" alt="Thumbnail" />
                                                   <img width="130" id="photo3" class="stackphotos" src="exampic/30.jpg" alt="Thumbnail" />
                                              <div class="clear"></div>
                                              </div>
                                              <div class="title">02/15/2012</div>
                                              <div class="stats">Images: <span class="picCount">2</span></div>
                                              <div class="clear"></div>
                                         </div>  
                                         
                                            <div class="album load">
                                              <div class="preview">
                                                   <img width="130" id="p1" class="stackphotos" src="exampic/17.jpg" alt="Thumbnail" />
                                              <div class="clear"></div>
                                              </div>
                                              <div class="title">29/01/2012</div>
                                              <div class="stats">Images: <span class="picCount">1</span></div>
                                              <div class="clear"></div>
                                         </div>
                                         
                                </div><!-- End albumsList -->
                                
                                <!-- screen Load messages. -->
                                <div class="screen-msg"><span class="icon"><img src="images/icon/dialog.png" alt="dialog"/></span>Click album to more any images.</div>
                                
                        <div class="albumImagePreview">
                              <div class="album_edit" style="display:none">
                               <form name="Save_form"  id="Save_form" action="">
                              <h1>Edit  Album</h1>
                              
                              <div class="picPreview"><img id="image-albumPreview" title="Drop Image Here"  src="exampic/25.jpg" alt="Image Preview"  /></div>
                              <div class="clear"></div>
                              <div class="hr"></div>
                              
                                  <input type="hidden" name="id_edit" id="id_edit"  value="1"/>
                                  <input type="hidden" name="thumbPreview" id="thumbPreview"  />
                                   <div class="tip">
                                  <input type="text" name="name" id="name"   title="Album name" style="width:146px" value="02/20/2012" maxlength="35" />
                                  </div>
                                  <div class="hr"></div>
                                  <ul class="uibutton-group">
                                    <a class="uibutton save_form normal loading"  title="Saving" rel="1">save</a>
                                    <a class="uibutton  albumDelete normal " id="1" name="02/20/2012" >Delete </a>
                                  </ul>
                                  <div class="hr"></div>
                                  </form>
                                  <div class="deletezone small" > Drop Images To Delete</div>
                                  <div class="hr"></div>    
                         
                                  <div class="clear"></div>
                              </div>
                              
                              <div class="boxtitle" ><span class="texttip">double click to viwe large images // </span>
                              <span class="tip"><a id="editAlbum"  class="editOn" title="Click here to edit  Album">edit album</a></span> or 
                              <span class="tip"><a class="albumDelete red" id="1" name="02/20/2012"   title="Click here to Delete  Album">Delete </a></span>
                              </div>		


                              <div class="albumpics">
						
                                    <ul id="sortable"  >
                                        <li class="albumImage">
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                  <a href="exampic/b/05.jpg" rel='glr'></a>	
                                                  <img src="exampic/05.jpg"  title="Drag This Photo" />
                                            <div class="picTitle">DSC00249.jpg</div>
                                            <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                    <li>10</li><!--// This id images-->
                                                    <li>DSC00249.jpg</li><!--// This name images-->
                                            </ul>   
                                            </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                  <a href="exampic/b/12.jpg" rel='glr'></a>	
                                                  <img src="exampic/12.jpg"   title="Drag This Photo" />
                                            <div class="picTitle">DSC00250.jpg</div>
                                            <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                    <li>11</li><!--// This id images-->
                                                    <li>DSC00250.jpg</li><!--// This name images-->
                                            </ul>  
                                            </div>
                                        </li>

                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                  <a href="exampic/b/23.jpg" rel='glr'></a>	
                                                  <img src="exampic/23.jpg"   title="Drag This Photo" />
                                            <div class="picTitle">DSC00251.jpg</div>
                                            <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                    <li>12</li><!--// This id images-->
                                                    <li>DSC00251.jpg</li><!--// This name images-->
                                            </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/28.jpg" rel='glr'></a>	
                                                    <img src="exampic/28.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/21.jpg" rel='glr'></a>	
                                                    <img src="exampic/21.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/27.jpg" rel='glr'></a>	
                                                    <img src="exampic/27.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/30.jpg" rel='glr'></a>	
                                                    <img src="exampic/30.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/09.jpg" rel='glr'></a>	
                                                    <img src="exampic/09.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/10.jpg" rel='glr'></a>	
                                                    <img src="exampic/10.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/13.jpg" rel='glr'></a>	
                                                    <img src="exampic/13.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/01.jpg" rel='glr'></a>	
                                                    <img src="exampic/01.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                        <li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/02.jpg" rel='glr'></a>	
                                                    <img src="exampic/02.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/03.jpg" rel='glr'></a>	
                                                    <img src="exampic/03.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/16.jpg" rel='glr'></a>	
                                                    <img src="exampic/16.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/19.jpg" rel='glr'></a>	
                                                    <img src="exampic/19.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/06.jpg" rel='glr'></a>	
                                                    <img src="exampic/06.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/17.jpg" rel='glr'></a>	
                                                    <img src="exampic/17.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/15.jpg" rel='glr'></a>	
                                                    <img src="exampic/15.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/11.jpg" rel='glr'></a>	
                                                    <img src="exampic/11.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/14.jpg" rel='glr'></a>	
                                                    <img src="exampic/14.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/07.jpg" rel='glr'></a>	
                                                    <img src="exampic/07.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/08.jpg" rel='glr'></a>	
                                                    <img src="exampic/08.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/18.jpg" rel='glr'></a>	
                                                    <img src="exampic/18.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/04.jpg" rel='glr'></a>	
                                                    <img src="exampic/04.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/22.jpg" rel='glr'></a>	
                                                    <img src="exampic/22.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/24.jpg" rel='glr'></a>	
                                                    <img src="exampic/24.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/25.jpg" rel='glr'></a>	
                                                    <img src="exampic/25.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/20.jpg" rel='glr'></a>	
                                                    <img src="exampic/20.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="exampic/b/26.jpg" rel='glr'></a>	
                                                    <img src="exampic/26.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
										<li class="albumImage" >
                                            <div class="picHolder">
                                                <span class="image_highlight"></span>
                                                    <a href="images/demo-size3.jpg" rel='glr'></a>	
                                                    <img src="exampic/29.jpg"    title="Drag Image to delete"/>
                                        <div class="picTitle">DSC00252.jpg</div>
                                        <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>13</li><!--// This id images-->
                                                <li>DSC00252.jpg</li><!--// This name images-->
                                        </ul>  
                                        </div>
                                        </li>
                                    </ul>
                              </div> 
                             <br class="clear" />
                        </div>
                        <br class="clear" />
                          
                            <!-- clear fix -->
							<div class="clear"></div>
                            
                        </div><!-- End content -->
                    </div><!-- End full width -->
                    
					<!-- clear fix -->
					<div class="clear"></div>

                    <div id="footer"> &copy; Copyright 2012 <span class="tip"><a  href="#" title="Zice Admin" >Your Company Name</a> </span> </div>

                </div> <!--// End inner -->
              </div> <!--// End content --> 
</body>
</html>
